hr {
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}


@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 1em;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        margin-bottom: 1.5em;
        color: var(--cinza-secundario);
        text-transform: uppercase;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 23px;
    }

    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza);
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-secundario);
        padding-left: 1em;
    }

    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 4em 1em;
    }
}